body{
    background-color: antiquewhite;
}
ul{
    display: flex;
    list-style: none;
    justify-content:center;
    gap : 24px;
    font-family:"Georgia";
    line-height: 3;
    

    font-size: 30px;
    
} 
nav{
    background-color:rgb(23, 60, 93);
}
h1{
    font-family: "Copperplate";
    font-style:italic;
    font-size: 40px;
    color: rgb(7, 46, 46);
    font-variant: small-caps;
    line-height: 200%;
    background-color: azure;
    text-align: center;

}
p{
    font-family:"Verdana";
    font-size: medium;
    
    

    width:300;

}
a{
    background-color: rgb(23, 60, 93);
    color: rgb(255, 255, 255);
}
#dog{
    display: block;
    margin: 0 auto;
}

main{
    color:rgb(0, 0, 0);

}

footer{
    color:rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(23, 60, 93);
}
